<div><header class="header">
    <nav class="nav container">
       <div class="nav__data">
          <a href="#" class="nav__logo"> 
             <img src="/imgs/cdk.png" alt="CDK Logo" height="60" width="60" >
          </a>
          <div class="nav__toggle" id="nav-toggle">
             <i class="ri-menu-line nav__burger"></i>
             <i class="ri-close-line nav__close"></i>
          </div>
       </div>  
       <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
             <li><a href="/home/<%= client_id %>" class="nav__link" id="highlight">Home</a></li>  
             <li><a href="/reservations/<%= client_id %>" class="nav__link" >Reservation Management</a></li> 
             <li><a href="payment.html" class="nav__link" >Payments</a></li> 
             <li><a href="/view_rooms/<%= client_id %>" class="nav__link" >Rooms</a></li> 
             <li><a href="/profile/<%= client_id %>" class="nav__link" >Profile</a></li> 
             <li><a href="/logout" class="nav__link" >Logout</a></li>
            
          </ul>
       </div>
    </nav>
</header></div>