
<header class="header">
    <nav class="nav container">
       <div class="nav__data">
          <a href="#" class="nav__logo"> 
             <img src="/imgs/cdk.png" alt="CDK Logo" height="60" width="60" >
          </a>
          <div class="nav__toggle" id="nav-toggle">
             <i class="ri-menu-line nav__burger"></i>
             <i class="ri-close-line nav__close"></i>
          </div>
       </div>  
       <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
             <li><a href="/" class="nav__link" id="highlight">Home</a></li>   
             <li><a href="/about_us" class="nav__link" >About</a></li>    
             <li><a href="/all_rooms" class="nav__link" >Rooms</a></li>  
             <li><a href="/login" class="nav__link" >Login</a></li> 
          </ul>
       </div>
    </nav>
 </header>