<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
        data-accordion="false">
        <!-- Replace dynamic routes with static URLs -->
        <li class="nav-item">
            <a href="/admin/dashboard" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Dashboard
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a href="/users" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    User management
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/reservations" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                   Reservation
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-cogs"></i> <!-- Updated icon for Administration -->
                <p>
                  Rooms
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>

            <ul class="nav nav-treeview" style="display: none;">
                <li class="nav-item">
                    <a href="/room" class="nav-link">
                        <p>Rooms</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/amenities" class="nav-link">
                        <p>Amenities</p>
                    </a>
                </li>
               
            </ul>
        </li>
     

        <!-- Repeat the structure for other main menu items -->
    </ul>
</nav>