<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
      <%- include('../partials/scripts.ejs') %>

      <link rel="stylesheet" href="/css/home.css" />
      <script src="/js/home.js" defer></script>
      <title>All Rooms</title>
   </head>
   <body>
    <%- include('../partials/client_nav.ejs') %>

      <div class="footer">
         <span class="copyright-symbol">Casa De Kwarto &copy; 2023. All Rights Reserved.</span>
      </div> 
   </body>
</html>