<!-- <!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ asset('sweetalert/sweetalert.min.js') }}"></script>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <center>
      <br> <br>
    <div class="wrapper">
        <h2>Login</h2>
        <% if (error && error.length > 0) { %>
          <div class="alert alert-danger">
            <%= error[0] %>
          </div>
        <% } %>
        <form action="/login-user" method="post" class="form2">
            
              <div class="input-box">
                <input type="text" id="username" name="username" placeholder="Username" required>
              </div>
           
              <div class="input-box">
                <input type="password" id="password" name="password" placeholder=" password" required>
              </div>
            
              
          
          <div class="input-box button">
            <input type="Submit" value="Login Now">
          </div>
          <div class="text">
            <h3>Don't have account? <a href="/register">Register now</a></h3>
          </div>
        </form>
      </div>
    </center>
</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Aptos:wght@200;300;400;500;600;700&display=swap">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <div class="wrapper">
    <form action="/login-user" method="post">
      <h2>LOGIN</h2>
      <center><img class="logo" src="/imgs/cdk.png" alt="Logo" style="border-radius:60px; height:90px; width:90px"></center><br>
        <% if (error && error.length > 0) { %>
          <div class="alert alert-danger">
            <%= error[0] %>
          </div>
        <% } %>
        <div class="input-field">
          <input type="text" name="email" required>
          <label>Enter your email</label>
        </div>
        <div class="input-field">
          <input type="password" name="password" required>
          <label>Enter your password</label>
        </div>
        <div class="forget">
          <label for="remember">
            <input type="checkbox" id="remember">
            <p>Remember me</p>
          </label>
          <a href="#">Forgot password?</a>
        </div>
        <!-- <button type="submit">Log In</button> -->
        <input type="submit" class="button" value="Login">
        <div class="register">
          <p>Don't have an account? <a href="/register">Register</a></p>
        </div>
      </form>
    </div>
  </body>
</html>
