<!-- <!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ asset('sweetalert/sweetalert.min.js') }}"></script>

    <link rel="stylesheet" href="/css/main.css?version=4" />
</head>
<body>
    <center>  <br> <br>
      <div class="wrapper">
        <h2>Registration</h2>
        <% if (error && error.length > 0) { %>
          <div class="alert alert-danger">
            <%= error[0] %>
          </div>
        <% } %>
      
        <form action="/register-user" method="post" class="form2">
          <div class="row">
            <div class="col-6">
              <div class="input-box">
                <input type="text" id="firstname" name="firstname" placeholder="Firstname" required>
              </div>
            </div>

            <div class="col-6">
              <div class="input-box">
                <input type="text" id="lastname" name="lastname" placeholder="Lastname" required>
              </div>
            </div>

            <div class="col-6" style="margin-top: -2rem;">
              <div class="input-box">
                <div class="col-4">
                  <label style="font-size: large; float: left;"><b>Birthday:</b></label>
                </div>
                <div class="col-8">
                  <input type="date" id="birthday" name="birthday" placeholder="Birthday" required>
                </div>
              </div>
            </div>

            <div class="col-6" style="margin-top: -2rem;">
              <div class="input-box">
                <label style="font-size: large; float: left;"><b>Gender:</b></label>
                <select name="gender">
                  <option value="female">Female</option>
                  <option value="male">Male</option>
                </select>   
              </div>
            </div>

            <div class="col-6" style="margin-top: -3rem;">
              <div class="input-box">
                <input type="tex" id="address" name="address" placeholder="Address" required>
              </div>
            </div>

            <div class="col-6" style="margin-top: -3rem;">
              <div class="input-box">
                <input type="number" id="contact_no" name="contact_no" placeholder="Contact no." required>
              </div>
            </div>

            <div class="col-6" style="margin-top: -3rem;">
              <div class="input-box">
                <input type="text" id="username" name="username" placeholder="Username" required>
              </div>
            </div>

            <div class="col-6" style="margin-top: -3rem;">
              <div class="input-box">
                <input type="text" id="email" name="email" placeholder="Email" required>
              </div>
            </div>

            <div class="col-6" style="margin-top: -3rem;">
              <div class="input-box">
                <input type="password" id="password" name="password" placeholder="Create password" required>
              </div>
            </div>

            <div class="col-6" style="margin-top: -3rem;">
              <div class="input-box">
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm password" required>
              </div> 
            </div>

            <div class="col-12" style="margin-top: -2rem;">
              <div class="input-box button" style="width: 50%;">
                <input type="Submit" value="Register Now">
              </div>
              <div class="text">
                <h3>Already have an account? <a href="#">Login now</a></h3>
              </div>
            </div>

          </div>  
        </form>
      </div>
    </center>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Aptos:wght@200;300;400;500;600;700&display=swap">
  <link rel="stylesheet" href="/css/reg.css">
</head>
<body><br><br><br>
  <div class="wrapper">
    <form action="/register-user" method="post">
      <h2>REGISTER</h2>
      <% if (error && error.length > 0) { %>
        <div class="alert alert-danger" style="background-color: white; color: black; margin: 1rem;">
          <p style="vertical-align: middle; padding: 1rem; font-size: large;"><%= error[0] %></p>
        </div>
      <% } %>
      <center><img class="logo" src="/imgs/cdk.png" alt="Logo" style="border-radius:65px; height:100px; width:100px"></center>
      
      <div class="input-fields">
        <div class="input-field">
          <input type="text" id="first_name" name="firstname" required>
          <label for="first_name">First Name</label>
        </div>

        <div class="input-field">
          <input type="text" id="last_name" name="lastname" required>
          <label for="last_name">Last Name</label>
        </div>
        
        <div class="input-field">
          <label for="birthday" style="position: absolute; top: 1px; left: 0;">Birthday</label>
          <input type="date" id="birthday" name="birthday" required placeholder="Select your birthday">
        </div>

        <div class="input-field">
          <div class="custom-dropdown">
            <select id="gender" name="gender" required>
              <option value="" disabled selected>Select Gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select> 
          </div>
        </div> 

        <div class="input-field">
          <input type="text" id="address" name="address" required>
          <label for="address">Address</label>
        </div> 

        <div class="input-field">
          <input type="tel" id="contact_no" name="contact_no" required>
          <label for="contact_no">Contact Number</label>
        </div>

        <div class="input-field">
          <input type="text" id="username" name="username" required>
          <label for="username">Username</label>
        </div> 

        <div class="input-field">
          <input type="email" id="email" name="email" required>
          <label for="email">Email</label>
        </div>
 
      </div> 

      <div class="input-fields">
        <div class="input-field">
          <input type="password" id="password" name="password" required>
          <label for="password">Password</label>
        </div>

        <div class="input-field">
          <input type="password" id="password" name="confirmPassword" required>
          <label for="confirmPassword">Password</label>
        </div>
      </div>
      
      <button type="submit">Register</button><br>

      <div class="login">
        <p style="color:white">Already have an account? <a href="/login">Login</a></p>
      </div>
    </form>
  
  </div>
  <br><br><br>
</body>
</html>
